.idea/
*.o
*.d
*.iml
*.ipr
*.iws
*.ids
*.sdf
build
src/generated
.gradle
.DS_Store
*.bak
*.pyc
*.class
bin/
packages/
obj/
out/
Temp/
_Resharper*/
_Upgrade*/
ipch/
Debug/
Release/
node_modules/
bundle.js
.mvn
.eslintcache
